<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yang.studentManagement.dao.TeachingCourseMapper">
    <resultMap id="ResultMap" type="cn.yang.studentManagement.domain.TeachingCourse">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="time" property="time" jdbcType="VARCHAR"/>
        <association property="course" javaType="cn.yang.studentManagement.domain.Courses">
            <id column="c_id" property="id" jdbcType="INTEGER"/>
            <result column="c_name" property="name" jdbcType="VARCHAR"/>
            <result column="credit" property="credit" jdbcType="INTEGER"/>
        </association>
        <association property="teacher" javaType="cn.yang.studentManagement.domain.Teachers">
            <id column="t_id" property="id" jdbcType="INTEGER"/>
            <result column="t_name" property="name" jdbcType="VARCHAR"/>
            <result column="age" property="age" jdbcType="INTEGER"/>
            <result column="gender" property="gender" jdbcType="VARCHAR"/>
            <result column="email" property="email" jdbcType="VARCHAR"/>
            <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <!--这里未免id和name混乱，将course和teacher的属性做了重命名，同时对应的resultmap中的字段名也做相应改变-->
    <select id="findAll" resultMap="ResultMap">
        select tc.*,c.id c_id,c.name c_name,c.credit,t.id t_id, t.name t_name,t.age,t.gender,t.email,t.mobile from teaching_course tc,courses c, teachers t where tc.course_id=c.id and tc.teacher_id=t.id
    </select>
</mapper>